/*==============================
        ABOUT COMPANY
==============================*/

.about-company{

    padding:100px 0;

    background:#fff;

}

/*==============================
        TOP
==============================*/

.company-grid{

    display:grid;

    grid-template-columns:1.1fr .9fr;

    gap:70px;

    align-items:center;

    margin-bottom:70px;

}

.section-subtitle{

    display:inline-block;

    color:#FEB512;

    font-weight:700;

    letter-spacing:2px;

    text-transform:uppercase;

    margin-bottom:15px;

}

.section-title{

    font-size:52px;

    color:#FFF;

    line-height:1.2;

    margin-bottom:30px;

}

.section-title span{

    color:#1B5BFF;

}

.company-text{

    color:#666;

    font-size:17px;

    line-height:1.9;

    margin-bottom:25px;

}

/*==============================
        IMAGE
==============================*/

.image-card{

    overflow:hidden;

    border-radius:30px;

    box-shadow:0 25px 60px rgba(0,0,0,.12);

}

.image-card img{

    width:100%;

    display:block;

    transition:.6s;

}

.image-card:hover img{

    transform:scale(1.06);

}

/*==============================
        FEATURES
==============================*/

.company-features{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.feature{

    background:#fff;

    border-radius:24px;

    padding:45px 35px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

    transition:.35s;

}

.feature:hover{

    transform:translateY(-10px);

    box-shadow:0 25px 55px rgba(0,0,0,.15);

}

.feature-icon{

    width:90px;

    height:90px;

    display:block;

    margin:0 auto 25px;

    object-fit:contain;

    transition:.35s;

}

/* .feature:hover .feature-icon{

    background:linear-gradient(135deg,#FEB512,#FFD44E);

    transform:rotate(-10deg); */

/* } */

.feature h4{

    font-size:30px;

    color:#0B1F4D;

    margin-bottom:18px;

}

.feature p{

    color:#666;

    font-size:17px;

    line-height:1.8;

}