/*-----------------------------------*\
 * #footer.css — Footer
\*-----------------------------------*/

.footer-top {
  background: var(--gunmetal);
  padding-block: var(--section-padding);
  color: var(--gainsboro);
}

.footer-brand { margin-bottom: 30px; }
.footer-brand img { width: clamp(130px, 20vw, 180px); }
.footer-brand .logo { margin-bottom: 20px; }

.footer-text { font-size: var(--fs-5); line-height: 1.7; }

.footer-contact { margin-bottom: 30px; }

.contact-title {
  position: relative;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-500);
  margin-bottom: 30px;
}

.contact-title::after {
  content: "";
  position: absolute;
  bottom: -10px; left: 0;
  width: 50px; height: 2px;
  background: var(--bright-navy-blue);
}

.contact-text { font-size: var(--fs-5); margin-bottom: 15px; max-width: 200px; }

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-item ion-icon { --ionicon-stroke-width: 40px; flex-shrink: 0; }

.contact-link, address {
  font-style: normal;
  color: var(--gainsboro);
  font-size: var(--fs-5);
}

.contact-link:is(:hover, :focus) { color: var(--white); }

.form-text { font-size: var(--fs-5); margin-bottom: 20px; line-height: 1.9; }

.footer-form .input-field {
  background: var(--white);
  font-size: var(--fs-5);
  padding: 15px 20px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.footer-form .btn { width: 100%; }

/* ── Footer Bottom ── */
.footer-bottom {
  --gunmetal: hsl(205, 36%, 17%);
  background: var(--gunmetal);
  padding-block: 20px;
  text-align: center;
}

.copyright { color: var(--gainsboro); font-size: var(--fs-5); margin-bottom: 10px; }
.copyright a { color: inherit; display: inline-block; }
.copyright a:is(:hover, :focus) { color: var(--white); }

.footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px 21px;
}

.footer-bottom-list > li { position: relative; }
.footer-bottom-list > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px; right: -10px; bottom: 3px;
  width: 1px;
  background: hsla(0,0%,100%,.2);
}

.footer-bottom-link {
  color: var(--gainsboro);
  font-size: var(--fs-7);
  transition: var(--transition);
}
.footer-bottom-link:is(:hover, :focus) { color: var(--white); }


/* ── RESPONSIVE ── */
@media (min-width: 580px) {
  .footer-bottom { text-align: left; }
  .copyright { margin-bottom: 0; }
  .footer-bottom-list { justify-content: flex-end; }
}

@media (min-width: 768px) {
  .footer-top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .footer-form { grid-column: span 2; }

  .form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .footer-form .input-field { margin-bottom: 0; }
  .footer-form .btn { width: max-content; }
}

@media (min-width: 992px) {
  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  .footer-form { grid-column: unset; }
  .form-wrapper { flex-direction: column; }
  .footer-form .btn { width: 100%; }
}
