<section class="about-hero">

    <div class="about-overlay"></div>

    <div class="container">

        <div class="hero-content">

            <span>WELCOME TO DRIVETALES</span>

            <h1>
                About Us
            </h1>

            <p>
                Creating memorable journeys with comfort, safety and trust.
            </p>

            <div class="breadcrumb">

                <a href="index.html">
                    Home
                </a>

                <i class="fa-solid fa-chevron-right"></i>

                <span>
                    About Us
                </span>

            </div>

        </div>

    </div>

</section>