<section class="why-choose section">

    <div class="container">

        <div class="section-heading">

            <span class="section-subtitle">
                WHY CHOOSE US
            </span>

            <h2 class="section-title">
                Your Trusted Travel Partner
            </h2>

            <p>
                We combine comfort, safety, professionalism, and affordability
                to make every journey memorable.
            </p>

        </div>

        <div class="choose-grid">

            <div class="choose-card">
                <div class="choose-icon">
                    <img src="assets/images/about/safejourney.png" alt="Safe Journey" loading="lazy">
                </div>

                <h3>Safe Journey</h3>

                <p>
                    Regularly maintained vehicles with experienced and verified
                    drivers.
                </p>
            </div>

            <div class="choose-card">
                <div class="choose-icon">
                    <img src="assets/images/about/premium-fleet.png" alt="Premium Fleet" loading="lazy">
                </div>

                <h3>Premium Fleet</h3>

                <p>
                    Wide range of hatchbacks, sedans, SUVs and luxury buses.
                </p>

            </div>

            <div class="choose-card">
                <div class="choose-icon">
                    <img src="assets/images/about/professional-drivers.png" alt="Professional Drivers" loading="lazy">
                </div>

                <h3>Professional Drivers</h3>

                <p>
                    Courteous, licensed and experienced drivers for every trip.
                </p>

            </div>

            <div class="choose-card">
                <div class="choose-icon">
                    <img src="assets/images/about/always-on-time.png" alt="Always On Time" loading="lazy">
                </div>

                <h3>Always On Time</h3>

                <p>
                    We value your time with punctual pickups and timely arrivals.
                </p>

            </div>

        

            <div class="choose-card">

                <div class="choose-icon">
                    <img src="assets/images/about/afforadable-pricing.png" alt="Affordable Pricing" loading="lazy">
                </div>

                <h3>Affordable Pricing</h3>

                <p>
                    Transparent pricing with no hidden charges or surprises.
                </p>

            </div>

            <div class="choose-card">

                <div class="choose-icon">
                    <img src="assets/images/about/24X7.png" alt="Customer Support" loading="lazy">
                </div>

                <h3>24×7 Support</h3>

                <p>
                    Friendly customer support available whenever you need us.
                </p>

            </div>

        </div>

    </div>

</section>